# Expo expone en el cliente solamente variables con el prefijo EXPO_PUBLIC_.
EXPO_PUBLIC_API_URL=https://world.openfoodfacts.org/api
EXPO_PUBLIC_SUPABASE_URL=https://tu-proyecto.supabase.co
EXPO_PUBLIC_SUPABASE_PUBLISHABLE_KEY=tu_publishable_key
